.idea
*.iml
.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.apt.core.prefs
.settings/org.eclipse.jdt.core.prefs
target/hibernate-envers-spring-1.0.0-SNAPSHOT.jar.original
target/
.settings/
